<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/common_fragment :: head(~{::title}, ~{::link})}">
  <title>We:meet 회원 정보 입력</title>
  <link>
</head>

<header th:replace="~{layout/common_fragment :: header('2/4')}">
</header>

<body class="bg-light" style="background: linear-gradient(#FFFFFF, #fffbfb);">

<div class="container">
  <main class="form-regist">

    <div style="padding-top: 1rem; padding-bottom: 1rem;">
      <h5 style="font-family: 'Dosis', sans-serif;">너에 대한 정보를 입력해줘 ☺️</h5>
    </div>

    <p style="margin-bottom: 0.3rem" class="text-muted text-small">
      성별 <strong>*</strong>
    </p>
    <div style="margin-bottom: 2rem; display: flex !important; justify-content: center;">
      <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" value="MAIL" autocomplete="off" checked>
      <label style="width: 45%; margin-right: 0.6rem;" class="btn btn-outline-info" for="success-outlined">남성</label>

      <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" value="FEMAIL" autocomplete="off">
      <label style="width: 45%; margin-left: 0.6rem;" class="btn btn-outline-danger" for="danger-outlined">여성</label>
    </div>

    <p style="margin-bottom: 0.3rem" class="text-muted text-small">
      닉네임 <strong>*</strong>
    </p>
    <div style="display: flex; justify-content: center; margin-bottom: 2rem;" class="form-floating">
      <input class="form-control form-border" value="" type="text" id="nickname"
             required />
      <label for="nickname" class="text-small text-muted">2자 이상 20자 미만으로 적어줘!</label>
    </div>

    <p style="margin-bottom: 0.3rem" class="text-muted text-small">
      학교 및 학과 <strong>*</strong>
    </p>
    <div style="margin: 0 0 1rem 0; display: flex !important; justify-content: space-between;">
      <div class="form-floating short_answer" style="margin-bottom: 1rem; width: 47%; margin-right: 0.6rem;">
        <input class="form-control form-border" list="universitys" id="university">
        <label for="university" class="text-small text-muted">학교</label>
        <datalist id="universitys">
          <option value="고려대학교">
          <option value="안양대학교">
          <option value="서울여자대학교">
          <option value="서울대학교">
          <option value="한양대학교">
        </datalist>
      </div>

      <div class="form-floating short_answer" style="margin-bottom: 1rem; width: 47%; margin-left: 0.6rem;">
        <input class="form-control form-border" list="majors" id="major">
        <label for="major" class="text-small text-muted">학과</label>
        <datalist id="majors">
          <option value="인문계열">
          <option value="공학계열">
          <option value="IT계열">
          <option value="공연계열">
          <option value="간호계열">
        </datalist>
      </div>
    </div>

    <p style="margin-bottom: 0.3rem" class="text-muted text-small">
      학번 <strong>*</strong>
    </p>
    <div style="margin-bottom: 1rem;">
      <select class="form-select form-border">
        <option selected>너의 학번을 선택해줘</option>
        <option value="1">23 학번</option>
        <option value="2">22 학번</option>
        <option value="3">21 학번</option>
      </select>
    </div>

  </main>
</div>

<div class="col-md-10 bottom_button">
  <a th:href="@{/v1/web/register/add}" class="btn long_button">다음</a>
</div>

<th:block th:replace="~{layout/common_fragment :: common_js(~{::script})}">
  <script></script>
</th:block>
</body>

</html>