<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/common_fragment :: head(~{::title}, ~{::link})}">
  <title>We:meet 이메일 인증</title>
  <link>
</head>

<header th:replace="~{layout/common_fragment :: header('3/4')}">
</header>

<body class="bg-light" style="background: linear-gradient(#FFFFFF, #fff3f3);">
<form th:action="@{/v1/web/email/cred}" method="post" th:object="${emailCredentialDto}">
  <div class="container">
    <main class="form-regist">

      <div style="padding-top: 1rem; padding-bottom: 1rem;">
        <h1 id="logo_icon" style="font-family: 'Dosis', sans-serif;">Email</h1>
      </div>

      <div>
        <p class="text-muted text-small">
          💌 너의 학교 이메일을 입력해줘!
        </p>
      </div>

      <div class="form-floating short_answer position-relative"
           style="margin: 1rem 0 1rem 0; display: flex;">
          <span class="position-absolute top-0 translate-middle badge rounded-pill bg-dark"
                style="left: 90% !important;">
            거의 다 왔어!
          </span>

        <input th:field="*{emailName}" style="width: 46%;" class="form-control" type="text" value="" id="emailName" required readonly />
        <label for="emailName" class="text-small text-muted">이메일</label>

        <span style="width: 1.5rem; padding: 0; justify-content: center;"
              class="input-group-text">@</span>

        <input th:field="*{emailDomain}" style="width: 46%;" class="form-control" name="emailDomain" id="emailDomains" list="emailDomain" required readonly />
        <datalist id="emailDomain">
          <option th:each="domain : ${domains}"
                  th:value="${domain}"
                  th:text="${domain}">
        </datalist>
      </div>

      <div class="form-floating short_answer">
        <button id="btn-email-retry" type="button" class="btn yellow_button">재전송</button>
      </div>

      <div class="form-floating short_answer" style="margin: 1rem 0 1rem 0;">
        <input th:field="*{credential}" class="form-control" value="" type="text" id="credential" required />
        <label for="credential" class="text-small text-muted">인증 번호</label>
      </div>

      <div th:if="${bindingResult.getFieldError('credential') != null}">
        <p th:text="${bindingResult.getFieldError('credential').getDefaultMessage()}"
           class="filed-error-text text-center text-small text-muted"></p>
      </div>

    </main>
  </div>

  <div class="col-md-10 bottom_button">
    <button type="submit" class="btn long_button">인증 하기</button>
  </div>

</form>

<th:block th:replace="~{layout/common_fragment :: common_js(~{::script})}">
  <script src="/js/email_retry.js"></script>
</th:block>
</body>

</html>