<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/common_fragment :: head(~{::title}, ~{::link})}">
  <title>We:meet 휴대폰 번호 입력</title>
  <link>
</head>

<header th:replace="~{layout/common_fragment :: header('1/4')}">
</header>

<body class="bg-light" style="background: linear-gradient(#FFFFFF, #fff3f3);">
<form th:action="@{/v1/web/phone}" method="post" th:object="${phoneRequest}">
  <div class="container">
    <main class="form-regist">

      <div style="padding-top: 1rem; padding-bottom: 1rem;">
        <h1 id="logo_icon" style="font-family: 'Dosis', sans-serif;">phone</h1>
      </div>

      <div>
        <p class="text-muted text-small">
          📱 저기.. 휴대폰 번호가 뭐야..?
        </p>
      </div>

      <div class="form-floating short_answer position-relative" style="margin: 1rem 0 1rem 0;">
        <span class="position-absolute top-0 translate-middle badge rounded-pill bg-dark" style="left: 84% !important;">
            - 를 빼고 입력해줘!
          <span class="visually-hidden">unread messages</span>
        </span>
        <input th:field="*{phone}" class="form-control" placeholder="휴대폰 번호를 입력해줘"
               type="tel" value="010" id="phoneNumber" th:classappend="${bindingResult.getFieldError('phone') != null} ? 'filed-error-box' : ''"
               required>
        <label for="phoneNumber" class="text-small text-muted">휴대폰 번호</label>

        <div th:if="${bindingResult.getFieldError('phone') != null}">
          <p th:text="${bindingResult.getFieldError('phone').getDefaultMessage()}"
             class="filed-error-text text-center text-small text-muted"></p>
        </div>

      </div>

    </main>
  </div>

  <div class="col-md-10 bottom_button">
    <button type="submit" class="btn long_button">인증 번호 발송</button>
  </div>

</form>

<th:block th:replace="~{layout/common_fragment :: common_js(~{::script})}">
  <script></script>
</th:block>
</body>

</html>